{% extends 'offline/base.html' %}

{% block content %}

<div class="row align-items-center ">
  <div class="col-sm-6 mx-auto mt-5">
    <div class="text-muted pb-2"><h6>{{ page_title }}</h6></div>
    {% for file in files %}
    <div class="card link-card shadow-sm mb-2 bg-white">
      <div class="card-body d-flex align-items-center ml-2 ">
        <div class="flex-wrap ml-3">
          <a href="{{ file.path }}"><h6 class="link-head mb-0">{{ file.name}}</h6></a>
        <p class="card-text text-muted link-text mb-0">{{ contact.created_date }}

          <a href="files_{{ file.category }}.html">
            <span class="badge rounded-pill bg-light text-dark">{{ file.category }}</span>
          </a>
        </p>
          <p class="card-text muted mb-0">{{ file.description }}</p>
          <p class="card-text text-muted link-text ">{{ file.basename }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="text-muted pb-2"><h6>No results founds.</h6></div>
    {% endfor %}
 
  </div>
</div>

{% endblock %}