{% extends 'base.html' %}
{% block content %}
 <div class="row align-items-center mh-100">
        <div class="col-sm-6 mx-auto mt-5">
    {% if user.is_authenticated %}
     <div class="text-muted pb-2"><h6>💼 Add a Contact</h6></div>

<form method="POST">
    {% csrf_token %}
    <div class="mb-4">
    <ul>
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <li id="email" class="contact">{{ form.Name }}</li>
    <label for="exampleFormControlInput1" class="form-label mt-4">Email</label>
    <li id="email" class="contact">{{ form.Email }}</li>
    <label for="exampleFormControlInput1" class="form-label mt-4">Contact</label>
    <li id="email" class="contact">{{ form.Contact }}</li>
    <label for="exampleFormControlInput1" class="form-label mt-4">Note</label>
    <li id="email" class="contact">{{ form.Note }}</li>
    </ul>
    </div>
    <input type="submit" class="btn btn-primary rounded-1 btn-block mb-3" value="Submit"></input>
{% else %}
<div class="text-muted pb-2"><h6>You aren't logged in!<a href="{% url 'login' %}" style="color:blue;"> Click here to Login</a></h6></div>
{% endif %}
{% endblock %}
</div>
</div>