{% extends 'base.html' %}
{% block content %}
 <div class="row align-items-center ">
        <div class="col-sm-6 mx-auto mt-5">
      {% if user.is_authenticated %}
     <div class="text-muted pb-2"><h6 class="d-inline mr-5">{{ title }}</h6><a class="d-inline" href="{% url 'clone' cats %}"><div class="btn btn-secondary btn-sm d-inline">Clone {{ cats }}</div></a></div>
{% for post in category_files%}
    <div class="card link-card shadow-sm mb-2 bg-white">
  <div class="card-body d-flex align-items-center ml-2 ">
        <div class="flex-wrap ml-3">
          <a href="{% url 'download' post.pk %}"><h6 class="link-head mb-0">{{ post.name}}</h6></a>
          <p class="card-text muted mb-0">{{ post.description }}</p>
         <p class="card-text text-muted link-text ">{{ post.basename }}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>

{% else %}
<div class="text-muted pb-2"><h6>You aren't logged in!<a href="{% url 'login' %}" style="color:blue;"> Click here to Login</a></h6></div>
{% endif %}


{% endblock %}
