{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center mh-100">
        <div class="col-sm-6 mx-auto mt-5">
      <form method="get" action="{% url 'searchfiles' %}">
        <input class="form-control search-box shadow-sm p-3 mb-5 bg-white mt-3" id="search" name="search" placeholder="Search your files..">
     </form>
     <div class="text-muted pb-2"><h6>Your Files</h6></div>
{% for post in object_list %}
    <div class="card link-card shadow-sm mb-2 bg-white">
  <div class="card-body d-flex align-items-center ml-2 ">
        <div class="flex-wrap ml-3">
     <a href="{% url 'download' post.pk %}"><h6 class="link-head mb-0">{{ post.name}}</h6></a>
        <p class="card-text text-muted link-text mb-0">{{ post.created_date }}
          <a href="{% url 'categoryfiles' post.category|slugify %}">
            <span class="badge rounded-pill bg-light text-dark">{{ post.category }}</span>
          </a>
        </p>
    <p class="card-text muted mb-0">{{ post.description }}</p>
   <p class="card-text text-muted link-text ">{{ post.file }}</p>

    </div>
  </div>
</div>
{% empty %}
<div class="text-muted pb-2"><h6>No results founds.</h6></div>
{% endfor %}
<!-- Colored FAB button -->

<div id="fabcontainer" class="w-100 fixed-bottom  click-through">
  <a href="{% url 'uploads' %}" class="btn-floating btn-large indigo float-right non-click-through">
   <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" >
     <i class="material-icons">add</i>
   </button>
    </a> 
</div>

 
     <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
           <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item"> <a class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </a></li>

        {% if page_obj.has_next %}
           <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
           <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

   </div>
</div>
{% endblock %}
