{% extends 'base.html' %}
{% block content %}
 <div class="row align-items-center mh-100">
        <div class="col-sm-6 mx-auto mt-5">
      {% if user.is_authenticated %}
     <div class="text-muted pb-2"><h6>Upload a File</h6></div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
    <ul>
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <li id="email" class="contact">{{ form.name }}</li><br/>

    <label for="exampleFormControlInput1" class="form-label">Description</label>
    <li id="description" class="contact">{{ form.description }}</li><br/>

    <label for="exampleFormControlInput1" class="form-label mt-4">Category</label>
    <div id="addcategory" class="btn btn-secondary rounded-1 btn-sm" >+</div>
    <li class="contact">{{ form.category }}</li>

    <label for="exampleFormControlInput1" class="form-label">File</label>
    <li id="email" class="contact">{{ form.file }}</li>
    </ul>
    </div>
    <button class="btn btn-primary rounded-1  btn-block mb-3" type="submit">Upload</button>
  </form>

<div id="dialog-form" title="New Category">
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
    </fieldset>
  </form>
</div>

<script>
  window.onload = function(){
      let dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 200,
      width: 350,
      modal: true,
      buttons: {
        "Create": ()=>{
          let newcat = $( "#dialog-form #name" ).val();
          if (newcat && newcat.trim().length > 0){
            $.ajax({
              url: '/categoryapi/',
              type: 'post',
              data: {
                  name: newcat
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              dataType: 'json',
              success: function (data) {
                  dialog.dialog( "close" );
                  window.location.reload();
              },
              error: function(jq,ts){
                  dialog.dialog( "close" );
              }
            });
          }
          },
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        //allFields.removeClass( "ui-state-error" );
      }
      });

      $( "#addcategory" ).click(function() {
          dialog.dialog( "open" );
      });

  };
</script>
{% else %}
<div class="text-muted pb-2"><h6>You aren't logged in!<a href="{% url 'login' %}" style="color:blue;"> Click here to Login</a></h6></div>
{% endif %}
{% endblock %}
</div>
</div>