{% extends 'base.html' %}
{% block content %}
<div class="row align-items-center mh-100">
        <div class="col-sm-6 mx-auto mt-5">
      {% if user.is_authenticated %}
      <form method="get" action="{% url 'searchcts' %}">
        <input class="form-control search-box shadow-sm p-3 mb-5 bg-white mt-3" id="search" name="search" placeholder="Search your contacts..">
     </form>
     <div class="text-muted pb-2"><h6>Your Contacts</h6></div>
{% for contact in object_list %}
 <div class="card link-card shadow-sm mb-2 bg-white">
  <div class="card-body d-flex align-items-center ml-2 ">
    <img src="https://img.icons8.com/bubbles/50/000000/guest-male.png" width="56" height="56"/>
        <div class="flex-wrap ml-3">
    <h6 class="link-head mb-0">{{ contact.name }}</h6>
    <p class="card-text text-muted link-text mb-0">{{ contact.email }}</p>
   <p class="card-text text-muted link-text ">{{ contact.contact }}</p>
    </div>
  </div>
</div>
{% empty %}
<div class="text-muted pb-2"><h6>No results founds.</h6></div>
{% endfor %}
    </div>
</div>
{% else %}
<div class="text-muted pb-2"><h6>You aren't logged in!<a href="{% url 'login' %}" style="color:blue;"> Click here to Login</a></h6></div>
{% endif %}
{% endblock %}